<!DOCTYPE html>
<html ng-app="HWBox">
	<head>
		<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/spacelab/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://jasny.github.io/bootstrap/dist/css/jasny-bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://jasny.github.io/bootstrap/examples/navbar-offcanvas/navbar-offcanvas.css">

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	</head>

	
<body style="padding-top:75px" ng-controller="PageController as page">
	
	<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
	        <button type="button" class="navbar-toggle pull-left" style="margin-right:0px" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#" ng-click="page.setPage(page.pageEnum.DASHBOARD)">
		  		<span class="glyphicon glyphicon-book"></span> HWBox
		  	</a>
        </div>

         <div class="navbar-offcanvas offcanvas navmenu-fixed-left">
          <a class="navmenu-brand" href="#" ng-click="page.setPage(page.pageEnum.DASHBOARD)" onclick="$('.navbar-header > button').click()">
          	<span class="glyphicon glyphicon-book"></span> HWBox
	  		</a>
          </a>
          
          <ul class="nav navbar-nav">

             	<li class="dropdown">
            	
              
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Homeworks <b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<!-- THIS CODE TRICKS THE BROWSER BY TRIGGERING A CLICK EVENT ON TOGGLE-NAVIGATION BUTTON FOR CLOSING SIDEBAR AFTER CLICKING ON A LINK IN SIDEBAR => onclick="$('.navbar-header > button').click()" -->
                <li ng-class="{ active: page.isSet(page.pageEnum.VIEWHW) }"  data-toggle="dropdown" data-target=".navbar-offcanvas" data-canvas="body" onclick="$('.navbar-header > button').click()"><a href="#" ng-click="page.setPage(page.pageEnum.VIEWHW)">View Homeworks</a></li>

                <li ng-class="{ active: page.isSet(page.pageEnum.ADDHW) }" data-toggle="dropdown" data-target=".navbar-offcanvas" data-canvas="body" onclick="$('.navbar-header > button').click()"><a href="#" ng-click="page.setPage(page.pageEnum.ADDHW)">Add Homework</a></li>
                
                <li onclick="$('.navbar-header > button').click()"><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li onclick="$('.navbar-header > button').click()"><a href="#">Separated link</a></li>
                <li onclick="$('.navbar-header > button').click()"><a href="#">One more separated link</a></li>
              </ul> 
            </li>

                <li ng-class="{ active: page.isSet(page.pageEnum.VIEWCRS) }" data-toggle="dropdown" data-target=".navbar-offcanvas" data-canvas="body" onclick="$('.navbar-header > button').click()">
	  				<a href="#" ng-click="page.setPage(page.pageEnum.VIEWCRS)">View Courses</a>
		  		</li>
		  		<li data-toggle="dropdown" data-target=".navbar-offcanvas" data-canvas="body" onclick="$('.navbar-header > button').click()">
		  			<a href="#" ng-click="">Deneme</a>
		  		</li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav><!-- /.navbar -->
    
     
	
	<div class="container-fluid">
	
		<sign-in></sign-in>

		<dashboard></dashboard>
	
		<add-homework></add-homework>
		
		<edit-homework></edit-homework>

		<view-homeworks></view-homeworks>
		
		<courses></courses>
		

	</div>
	<!-- END OF container div with page controller -->
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.3.min.js"></script>
<script type="text/javascript" src="js/parse.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://jasny.github.io/bootstrap/dist/js/jasny-bootstrap.min.js"></script>

<!-- <script>
$(document).ready( function(){
	$("#menu-toggle").click(function(e) {
    	e.preventDefault();
 		$("#wrapper").toggleClass("toggled");
 		$("#menu-toggle2").show();
	});	
	
	$("#menu-toggle2").click(function(e) {
    	e.preventDefault();
 		$("#wrapper").toggleClass("toggled");
 		$("#menu-toggle2").hide();
	});	
	$('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
  
});
</script> -->


</body>
</html>
